<h2>Agregar nuevo Autor</h2>
<%= form_for @author do |f| %>

<div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class:'form-control' %> <br />
</div>
<div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name_string, class:'form-control' %> <br />
</div>

  <%= f.submit "Guardar", class:'btn btn-success' %>
  <%= link_to "Cancelar", authors_path, class:'btn btn-primary' %>

<% end %>
<br><br>
