<h2>Agregar nueva Categoria</h2>
<%= form_for @category do |f| %>

<div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class:'form-control' %> <br />
</div>

  <%= f.submit "guardar", class:'btn btn-success' %>
  <%= link_to "Cancelar", categories_path, class:'btn btn-primary' %>

<% end %>
<br><br><br>
